/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  color: Black;
  font-size: 14px;
  font-family: "poppins", sans-serif;
  line-height: 1.80857;
  font-weight: normal;
  overflow-x: hidden;  
} 

a {
  color: darkred;
}

a:hover {
  color: darkred;
  text-decoration: none;
}

ul, li, ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, .font-primary {
  font-family: "poppins", sans-serif; 
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 140px;
  transition: all 0.5s;
  transition: all 0.5s;
  padding: 8px 0;
  background: black;
  z-index: 997;
  border-top: darkred solid 3px;
  border-bottom: darkred solid 3px;
}

#header.header-scrolled {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: darkred;
  text-decoration: none;
}

#header .logo img {
  padding: 0px;  
  margin: 0;
  max-height: 120px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color: white;
  padding: 40px 13px;
  transition: 0.3s;
  font-size: 18px;  
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #D4AF37;
  text-decoration: none;
}

/* Mobile Navigation */ 
.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: black;
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: white;
  padding: 10px 20px;
  font-weight: 500;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #D4AF37;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa0";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 20px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: white;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(58, 60, 61, 0.7);
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: white;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: calc(100vh - 114px);
  padding: 0;
  overflow: hidden;
}

#hero .carousel-item {
  width: 100%;
  height: calc(100vh - 114px);
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  overflow: hidden;
}

#hero .carousel-item::before {
  content: '';
  background-color: rgba(13, 30, 45, 0.6);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

#hero .carousel-content {
  text-align: center;
}

@media (max-width: 992px) {
  #hero, #hero .carousel-item {
    height: calc(100vh - 70px);
  }
  #hero .carousel-content.container {
    padding: 0 50px;
  }
}

#hero h2 {
  color: white;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 900;
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-left,
#hero .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-prev, #hero .carousel-control-next {
  width: 10%;
}

#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
}

#hero .carousel-indicators li {
  cursor: pointer;
}

#hero .btn {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 20px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: black;  
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 0;
  background: white;
}

#hero .btn:hover {
  background: #D4AF37;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  #hero p {
    width: 60%;
  }
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 5%;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;  
}

.about{
  background-color: black;
}

.section-bg {
  background-color: white;
}

.section-title {
  font-family: "poppins", sans-serif;
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-family: "poppins", sans-serif;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 30px;
  color: darkred;
}

.section-title h3 {
  font-family: "poppins", sans-serif;
  text-align: center;
  font-weight: bolder;
  color: white; 
}

.section-title span{
  text-align: center;
  font-style: italic;
  font-size: 18px;
  color: white;  
}

/*--------------------------------------------------------------
# Quem Somos
--------------------------------------------------------------*/
.about {
  padding-bottom: 30px;
}

.about .container {
  box-shadow: 0 5px 25px 0 rgba(214, 215, 216, 0.6);
}

.about .video-box img {
  padding: 15px 0;
}

.about .section-title h3 {
  text-align: center;
  font-style: bold;
  color: #D4AF37;
}
.about .section-title span {
  text-align: center;
  font-style: italic;
  color: white;
}

.about .about-content {
  padding: 40px;
}

.about .icon-box + .icon-box {
  margin-top: 40px;
}

.about .icon-box .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  background: #f1f7fb;
  border-radius: 6px;
  transition: 0.5s;
}

.about .icon-box .icon i {
  color: #D4AF37;
  font-size: 32px;
}

.about .icon-box:hover .icon {
  background: #D4AF37da;
}

.about .icon-box:hover .icon i {
  color: white;
}

.about .icon-box .title {
  margin-left: 95px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
  text-transform: uppercase;
}

.about .icon-box .title a {
  color: #343a40;
  transition: 0.3s;
}

.about .icon-box .title a:hover {
  color: #D4AF37;
}

.about .icon-box .description {
  margin-left: 95px;
  line-height: 24px;
  font-size: 14px;
}

.about .video-box {
  position: relative;
}

.about .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#a50404 50%, rgba(252, 58, 58, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}

.about .play-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid white;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.about .play-btn::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid white;
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.about .play-btn:hover::after {
  border-left: 15px solid rgb(243, 10, 10);
  transform: scale(20);
}

.about .play-btn:hover::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid white;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# Serviços
--------------------------------------------------------------*/
.services {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: rgb(209, 209, 209);
}

.services .icon-box {
  margin-bottom: 20px;
  text-align: center;
}

.services .icon {
  display: flex;
  justify-content: center;
}

.services .icon i {
  width: 130px;
  height: 130px;
  margin-bottom: 30px;
  background: darkred;
  border-radius: 50%;
  transition: 0.5s;
  color: white;
  font-size: 100px;
  overflow: hidden;
  padding-top: 20px;
  box-shadow: 0px 0 25px rgba(0, 0, 0, 0.15);
}

.services .icon-box:hover .icon i {
  box-shadow: 0px 0 30px black;
}

.services .title {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: bolder;
  position: relative;
  padding-bottom: 15px;
}

.services .title a {
  color: black;
  transition: 0.3s;
}

.services .title a:hover {
  color: #D4AF37;
}

.services .title::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: darkred;
  bottom: 0;
  left: calc(50% - 25px);
}

.services .description {
  line-height: 24px;
  font-size: 20px;
}

/*--------------------------------------------------------------
# Orçamento
--------------------------------------------------------------*/
/* Input Form */
input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: darkred;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.form-orc {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center; 
  margin: 0px;
  color: #D4AF37;   
}

.form-orc h3 {
  text-align: center;
  font-size: 30px;     
}

form {
  width: 600px;
  margin: 0 auto;
}

.form-group {
 font-size: 18px;
 text-align: left;
}

.form-check{
 text-align: left;
}

.php-email-form button[type="submit"] {    
 text-align: center; 
 font-size: 16px;
 border: white solid 1px;
 padding: 10px 20px;
 background-color: white;
 align-items: center;
 flex-wrap: wrap;
 border-radius: 50px;
 color: black;
}

.php-email-form button[type="submit"]:hover {
 background-color: #D4AF37;
 border: #D4AF37 solid 1px;
 color: white;     
}

.form-orc .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.form-orc .php-email-form .error-message {
  display: none;
  color: white;
  background-color: darkred;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.form-orc .php-email-form .sent-message {
  display: none;
  color: white;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.form-orc .php-email-form .loading {
  display: none;
  background: white;
  text-align: center;
  padding: 15px;
}

.form-orc .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Motivos
--------------------------------------------------------------*/
.faq {
  padding-top: 70px; 
}

.faq .faq-item {
  margin-bottom: 40px;  
}

.faq .faq-item h4 {
  font-family: "poppins", sans-serif;  
  font-size: 25px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #D4AF37;
  text-align: justify;  
}

.faq .faq-item p{
  font-family: "poppins", sans-serif;  
  font-size: 20px;
  font-style: italic;
  text-align: justify;
   color: white;
}

/*--------------------------------------------------------------
# Depoimentos
--------------------------------------------------------------*/
.counts {
  padding-bottom: 30px;  
}

.counts .count-box {
  box-shadow: 0px 0 16px darkseagreen;
  padding: 30px; 
  margin-bottom: 30px;
  background-color: rgb(209, 209, 209);

}

.counts .count-box i {
  display: block;
  font-size: 64px;
  margin-bottom: 15px;
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: black;
}

/*--------------------------------------------------------------
# Contato
--------------------------------------------------------------*/
.contact .info-box {
  color: black;
  text-align: center;
  box-shadow: 0 0 30px black;
  padding: 20px 0 30px 0;
  margin-bottom: 30px;
  width: 100%;
}

.contact .info-box i {
  font-size: 32px;
  color: darkred;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #D4AF37;
}

.contact .info-box h3 {
  font-size: 20px;
  color: black;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  box-shadow: 0 0 30px black;
  padding: 30px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #D4AF37;;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input::focus, .contact .php-email-form textarea::focus {
  background-color: white;
}

.contact .php-email-form input {
  padding: 20px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
  background: darkred;
  border: 0;
  padding: 10px 24px;
  color: white;
  transition: 0.4s;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #D4AF37;;
}

.php-email-form{
  width: 100%;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {  
  border-top: darkred solid 3px;
  background: darkred;  
  color: white;
  font-size: 10px;
}

#footer .footer-top {
  background: black; 
  padding-bottom: 10px;
}

#footer .footer-top .social-links a {
  font-size: 25px;
  display: inline-block;
  background: darkred; 
  color: white;
  line-height: 1;
  padding: 8px;
  padding-top: 10px;
  margin-right: 15px;
  border-radius: 50%;
  text-align: center;
  width: 45px;
  height: 45px;
  transition: 0.3s;  
}

#footer .footer-top .social-links a:hover {
  background: #D4AF37;
  color: white;
  text-decoration: none;  
}

#footer .logo{
  padding-top: 0px;
  padding-bottom: 15px;
  margin: 0px;
  width: 300px;
  text-align: center;
}

#footer ul.locarion_icon li {
  padding-bottom: 15px;
  color: white;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}

#footer ul.locarion_icon li img {
  padding-right: 15px;
}

#footer .icon{
  padding-top: 30px;
  padding-bottom: 60px;  
}

#footer .copyright { 
  font-size: 15px;
  text-align: center;
  padding-top: 10px;
  color: white;
}

#footer .copyright {
  font-size: 15px;
  text-align: center;
  padding-bottom: 10px;
  color: white;
}